@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Univeristy"]</h2>
<h3>@ViewData["Kafedra"]</h3>
<h4>@ViewData["Message"]</h4>

<p>Подготовили студенты группы НМТ-443907:</p>
<p>Мокшин А.В</p>
<p>Игнатьев К.Д.</p>
<p>Дегтярев И.А.</p>
