@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Екатеринбург<br />
    Улица Мира 28, кафедра ТИМ<br />
</address>

<address>
    <strong>Разработчик: Мокшин Александр</strong>   <a href="mailto:mokshin.alex@gmail.com">mokshin.alex@gmail.com</a><br />
    <strong>Тестировщик: Игнатьев Константин</strong> <a href="mailto:felixmiheev35@gmail.com">felixmiheev35@gmail.com</a><br />
    <strong>Техническое задание: Дегтярев Иван</strong> <a href="mailto:digtya@mail.ru">digtya@mail.ru</a><br />

</address>